---
import Project from "../../components/Project.astro"
---

<Project
  title="Personality Quiz"
  assignment="Create a program built on the concept of binary search"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://placehold.co/600x400?text=Your+Project+Here" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
